.vscode/**
.vscode-test/**
**/.vscode-test.*
out/**
node_modules/**
src/**
src/__tests__/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
biome.json
vitest.**